#vrnavigation{
	  margin-top:15px;
      font-weight: bold;
}
#vrnavigation ul {
padding:0px;
padding-left:15px;
}
#vrnavigation a:link, #vrnavigation a:visited, #vrnavigation li{
color: #069;
text-decoration: none;
}
#vrnavigation a:hover{
color: #036;
text-decoration:underline;
}
#vrnavigation li:hover{
color: #036;
text-decoration: none;
}

	 
#expList ul, #expList li {
    list-style: none;
    margin:0;
    padding:0px;
    padding-left:10px;
    cursor: pointer;
}
#expList p {
    margin:0;
    display:block;
}
#expList p:hover {
    background-color:#121212;
}
#expList li {
    line-height:140%;
    text-indent:0px;
    padding: 0px;
    background-repeat: no-repeat;
}
 
/* Collapsed state for list element */
#expList .collapsed {
    list-style-image:url('plus.png');
}
/* Expanded state for list element
/* NOTE: This class must be located UNDER the collapsed one */
#expList .expanded {
    list-style-image:url('minus.png');
}